[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/graysx"]
	path = themes/graysx
	url = https://github.com/akatiggerx04/graysx-hugo.git
